
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    p {
        font-family: Trebuchet MS, Verdana, sans-serif;
        line-height:1.4em;
        margin-left:15px;
    }
    h1, h3 {
        font-family: Trebuchet MS, Verdana, sans-serif;
        color: blueviolet;
        margin-left: 15px;
    }
    h5 {
        font-family: Trebuchet MS, Verdana, sans-serif;
        color: red;
        margin-left: 15px;
    }
</style>
@section navbar{
    @Html.Partial("_NavbarPartial", "About Us")
}
<h1>
    About General Hospital
</h1>
<p>
    Square Hospitals Limited, a concern of Square Group is a 400-bed tertiary care hospital. The hospital is an affiliate partner of Methodist Healthcare, Memphis, Tennessee, USA, SingHealth, Singapore, Bangkok Hospital Medical Centre, Thailand and Christian Medical College, Vellore, India.
</p>

      <p>
          A lot of physicians have joined from CMC-Vellore, India. Bangladeshi Physicians with impeccable reputation are also part of the medical team. Huge emphasis has been made on quality nursing services, as we have trained over a hundred nurses for over a year. We have nurse educators from Australia, UK, India and the Philippines. Nurses and technicians have already received training from CMC-Vellore which continues to be an on- going process.
      </p>
      <p>
          Square Hospital is located in the heart of Dhaka and aims to serve greater portion of the capital city. At present it comprises of two buildings on either side of Panthapath connected by an over-bridge. The main hospital building is 18 stories and is approximately 450,000 sq.ft. The second building (ASTRAS) is located across the street and is 16 stories with 136,000 sq.ft. The second building is expected to be operational by 2011. Both facilities are constructed in accordance with US Fire and Building safety standards
      </p>
      <p>
          The outpatient department of this hospital can serve up to 1200 patients daily, through 60 examination rooms. To ensure optimum healthcare-hospitality, the patients are closely monitored in their waiting times in outpatient clinics, emergency and admissions.

      </p>

      <h3>ORGANIZATION OF THE MAIN BUILDING:</h3>

      <h5>Basement 1</h5>
      <p>
          Emergency room (ER) with beds for non critical cases, two procedure rooms, two trauma rooms; ER registration and ER pharmacy; linear accelerator for radiation therapy; morgue)

          Radiology and Imaging; dialysis unit; chemotherapy center; outpatient Fine needle aspiration cytology(FNAC) clinic; outpatient Bone Marrow procedure room

      </p>
      <h5>First & second floor</h5>
      <p>
          OPD clinics with consultation rooms; Physiotherapy center
          Radiology and Imaging; dialysis unit; chemotherapy center; outpatient Fine needle aspiration cytology(FNAC) clinic; outpatient Bone Marrow procedure room
      </p>

      <h5>Third floor</h5>
      <p>Radiology and Imaging; dialysis unit; chemotherapy center; outpatient Fine needle aspiration cytology(FNAC) clinic; outpatient Bone Marrow procedure room</p>

      <h5>Fourth floor</h5>
      <p>Intensive care unit (ICU) with beds of which two are isolation units; Coronary care unit (CCU) with beds; endoscopy and bronchoscopy suite with complete facilities for ERCP (equipped with C arm) as well as lithotripsy</p>
      <h5>Fifth floor</h5>
      <p>
          OR complex with ORs, including dedicated for Cardiac surgery; Cardiac surgical intensive care unit (CSICU) with beds;Surgical intensive care unit (SICU) with beds; cath labs and post
          cath recovery room with beds
      </p>